.root {
    -fx-background-color: #222436;
    -fx-padding: 20;
}

.titleLabel {
    -fx-text-fill: #358bfc;
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.sudoku-grid {
    -fx-background-color: transparent;
    -fx-border-color: #3a8bfc;
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-padding: 15px;
}

.sudokuCell {
    -fx-background-color: #90cbff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-alignment: center;
    -fx-border-color: #3a8bfc;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, #00000066, 3, 0.5, 1, 1);
}

.sudokuCell:hover {
    -fx-background-color: #358bfc;
    -fx-cursor: hand;
}

.sudokuCell:focused {
    -fx-border-color: #3a8bfc;
    -fx-border-width: 2px;
    -fx-background-color: #358bfc;
}

.sudokuCell.predefined {
    -fx-background-color: #1f6cf1;
    -fx-border-color: #1f6cf1;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-opacity: 1.0;
}

.bottomContainer {
    -fx-padding: 20px; /* Margen inferior */
}

.bottomLabel {
    -fx-text-fill: #358bfc;
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

.helpButton {
    -fx-background-color: #358bfc;
    -fx-text-fill: white;
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 8px 16px;
    -fx-effect: dropshadow(gaussian, #00000044, 2, 0.2, 1, 1);
}

.helpButton:hover {
    -fx-background-color: #90cbff;
}

.helpButton:pressed {
    -fx-background-color: #1a3e8e;
}
